<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New user account</title>
    <meta charset="UTF-8">
    <style>
        #new_user_form{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div id="new_user_form">
    <form method="post" th:action="@{/login/new_user}" th:object="${newUserForm}">
        <table>
            <tr><td>login</td><td><input class="login_item" type="text" placeholder="enter username" th:field="*{username}"></td></tr>
            <tr><td>password</td><td><input class="login_item" type="password" placeholder="enter password" th:field="*{password}"></td></tr>
            <tr>
                <td colspan="2"><input class="login_item" name="action" type="submit" value="create account"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
